<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="45014okazuki.SH" Publisher="CN=57A8C5FA-395A-4109-91A0-CF1B93556B5D" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SH</DisplayName>
    <PublisherDisplayName>okazuki</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Okazuki.SH.App">
      <VisualElements DisplayName="SH" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="calculate sitting height." ForegroundText="light" BackgroundColor="#FF8109">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FF8109" />
      </VisualElements>
    </Application>
  </Applications>
</Package>